*{
    margin: 0;
    padding: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 10px 200px;
    border-bottom: 4px solid rgba(255, 0, 0, 0.432);
    position: sticky;
    top: 0;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.2s;
}
nav div{
    color: white;
}
nav ul li a:hover{
    color: burlywood;
    background-color: black;
    border-radius: 5px;
}
.about-img{
    width: 500px;
    
}
.about-img img{
    width: 100%;
}
#about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    border: 1px solid brown;
    margin: auto;
    margin-top: 70px;
    padding: 50px;
    box-shadow: 10px 10px 5px;
    border-radius: 5px;
}
.about-text h2{
    font-size: 80px;
    color: blue;
    margin-bottom: 20px;
    margin-top: 50px;
}
.about-text a{
    text-decoration: none;
    background-color: blue;
    color: white;
    display:inline-block;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
}
.about-text p{

}